@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Lato");

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .radial-gradient {
    background: radial-gradient(
      rgba(255, 255, 255, 0) 40%,
      rgba(0, 0, 0, 0.5) 50%
    );
  }
}

body {
  background-color: #000;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.3);
  padding: 4px 6px;
  border-radius: 100%;
  width: 46px !important;
  height: 46px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
}
